<header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">
      <a href="/" class="logo me-auto"><img src="/assets/img/cropped-logo_front-2.jpg" alt="{{site.title}}" class="img-fluid"></a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Home</a></li>
          <li><a class="nav-link scrollto active" href="/about-us/">About Us</a></li>
          <li class="dropdown"><a href="/services/"><span>Services</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a class="nav-link scrollto active" href="/services/desktop-on-rent/">Desktop On Rent</a></li>
              <li><a class="nav-link scrollto " href="/services/laptop-on-rent/">Laptop On Rent</a></li>
              <li><a class="nav-link scrollto " href="/services/computer-repair/">Computer Repair</a></li>
              <li><a class="nav-link scrollto " href="/services/networking/">Networking</a></li>
              <li><a class="nav-link " href="/services/cctv-installation/">CCTV Installation</a></li>
              <li><a class="nav-link" href="/services/amc-service/">AMC Service</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="/contact-us/">Contact Us</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header>
