<header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">
      <a href="/" class="logo me-auto"><img src="assets/img/cropped-logo_front-2.jpg" alt="Computer waala" class="img-fluid"></a>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="/">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About Us</a></li>
          <li class="dropdown"><a href="#"><span>Services</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Desktop On Rent</a></li>
              <li><a href="#">Laptop On Rent</a></li>
              <li><a href="#">Computer Repair</a></li>
              <li><a href="#">Networking</a></li>
              <li><a href="#">CCTV Installation</a></li>
              <li><a href="#">AMC Service</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#">Contact Us</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header>
